<footer id="site-footer" class="smol">
    <p>
        <a href="javascript:disableColours()" id="bw-button">disable colours</a> &mdash;
        <a href="https://github.com/itsmeimtom/thomasr.me/blob/master/{{ page.path }}">Page Source</a> &mdash;
        <a href="https://github.com/itsmeimtom/thomasr.me/blob/master/LICENSE" title="CC BY-SA License">some rights reserved</a>
    </p>
</footer>

<script src="/assets/script/colours.js"></script>
{% if page.scripts %}
{% for script in page.scripts %}
    <script src="{{ script }}"></script>
{% endfor %}
{% endif %}