<footer id="site-footer" class="smol">
    <p>
        <a href="javascript:disableColours()" id="bw-button"><i class="fas fa-fw fa-tint-slash" aria-hidden="true"></i> Disable Colours</a> &mdash;
        <a href="https://github.com/itsmeimtom/thomasr.me/blob/master/{{ page.path }}"><i class="far fa-fw fa-file-code" aria-hidden="true"></i> Page Source</a> &mdash;
        <a href="https://github.com/itsmeimtom/thomasr.me/blob/master/LICENSE" title="CC BY-SA License"><i class="fas fa-gavel fa-fw" aria-hidden="true"></i> Some Rights Reserved</a>
    </p>
</footer>

<script src="/assets/script/colours.js"></script>
{% if page.scripts %}
{% for script in page.scripts %}
    <script src="{{ script }}"></script>
{% endfor %}
{% endif %}