{% if page.lang == 'cy' %}
    {% assign newCol = "Lliw Newydd" %}
    {% assign disableCol = "Dim Lliwiau" %}
    {% assign enableCol = "Ie i Lliwiau" %}
{% else %}
    {% assign newCol = "New Colour" %}
    {% assign disableCol = "Disable Colours" %}
    {% assign enableCol = "Enable Colours" %}
{% endif %}

<footer id="site-footer" class="smol">
    <p>
        <a href="javascript:pickColour()" id="new-colour-button" class="js-only"><span aria-hidden="true">✨</span> {{ newCol }}</a>
        <a href="javascript:disableColours()" id="disable-colours-button" class="js-only"><span aria-hidden="true">🎨</span> {{ disableCol }}</a>
        <a href="javascript:enableColours()" id="enable-colours-button" class="js-only"><span aria-hidden="true">🎨</span> {{ enableCol }}</a>
        <!-- <a href="https://github.com/itsmeimtom/thomasr.me/blob/master/{{ page.path }}"><span aria-hidden="true">⌨️</span> Page Source</a> -->
        <!-- <a href="https://github.com/itsmeimtom/thomasr.me/blob/master/LICENSE" title="CC BY-SA License"><span aria-hidden="true">📜</span> Some Rights Reserved</a> -->
    </p>
</footer>


{% if page.easyread %}
<script>
    // this only sets the accent colour,
    // not the foreground and blackground colours
    // to make long-form pages easier to read
    const onlySetAccentColour = true;
</script>
{% endif %}
<script src="{{ site.baseurl }}/assets/script/colours.js"></script>

{% if page.scripts %}
    {% for script in page.scripts %}
        <script src="{{ script | relative_url }}"></script>
    {% endfor %}    
{% endif %}

{% if page.layout == 'home' %}
<!-- homepage greeting -->
<script>
    let now = new Date();
    let h = now.getHours();

    let greeting = "{% if page.lang != 'cy' %}Hello{% else %}Helo{% endif %},";

    if(h >= 0 && h < 12) greeting = "{% if page.lang != 'cy' %}Good morning{% else %}Bore da{% endif %},"; // 5-12 

    if(h >= 12 && h < 18) greeting = "{% if page.lang != 'cy' %}Good afternoon{% else %}Prynhawn da{% endif %},"; // 12-18

    if(h >= 18 && h < 22) greeting = "{% if page.lang != 'cy' %}Good evening{% else %}Noswaith dda{% endif %},"; // 18-22

    // if(h >= 22) greeting = "{% if page.lang != 'cy' %}Good night{% else %}Nos da{% endif %},"; // 22-23
    if(h >= 22) greeting = "{% if page.lang != 'cy' %}Good evening{% else %}Noswaith dda{% endif %},"; // 22-23
    // if(h < 5) greeting = "{% if page.lang != 'cy' %}Good night{% else %}Nos da{% endif %},"; // 0-5


    document.getElementById('js-greeting').innerText = greeting;
</script>

    {% if page.permalink == '/' %}
    <!-- email obfuscation -->
    <script>
        const email = atob('bWVAVG9tUi5tZQ==');
        document.getElementById('js-email-text').innerHTML = email;
        document.getElementById('js-email').href = `mailto:${email}`;
    </script>
    {% endif %}
{% endif %}

{% if page.layout == 'thing' and page.image %}
<!-- we're on a thing with an image, set the image background -->
{% include thing-image-folder.html %}
<style>
    h1#page-title::before {
        position: relative;
        display: block;
        width: 100%;
        height: 8em;

        margin-bottom: -3em;
        margin-top: 0.5em;

        background-image: url('{{ page.image | prepend: thingImageFolder }}');
    }
</style>
{% endif %}