<aside id="colour-bar" aria-hidden="true"></aside>

<header id="site-header">
    
    {% if page.layout == 'home' %}
        <img src="/assets/img/blondtommodrawing.jpg" alt="A toddler-age Thomas laying on a carpet, smiling and clutching a pen" aria-hidden="true" draggable="false" ondblclick="rainbowomg(parseInt(localStorage.getItem('last-colour')))">
    {% endif %}


    <h1>
        <a href="/" title="Homepage">
        {% if page.layout != 'home' %}
            Thomas Robinson
        {% else %}
            <i class="baskerville-italic"><span class="weight-400" id="js-greeting">
                {% if page.lang != 'cy' %}Hello{% else %}Helo{% endif %},
            </span></i> <span class="weight-700">{% if page.lang != 'cy' %}I'm&nbsp;{% endif %}Tom{% if page.lang == 'cy' %}&nbsp;Dw&nbsp;i{% endif %}!</span></span><!--
    -->{% endif %}<!-- comments here to ensure no whitespace after the quote
 --></a>
    <span class="smol-quarter accent-colour baseline">
        {% if page.lang != 'cy' %}he/him{% else %}e/o{% endif %}
    </h1>
</header>

