// @function light-tint($col, $pc) { @return mix(#fff, $col, $pc); }
// @function dark-tint($col, $pc) { @return mix(#000, $col, $pc); }

@mixin in-light-mode() {
    @media (prefers-color-scheme: light) { @content; }
}
@mixin on-small-screen() {
    @media screen and (max-width: 80em) { @content; }
}
@mixin on-big-screen() {
    @media screen and (min-width: 80em) { @content; }
}

$fn-headings: 'Merriweather', 'Cambria', 'Cochin', 'Georgia', 'Times', 'Times New Roman', serif;
$fn-copy: 'Merriweather Sans', 'Verdana', 'Tahoma', 'Helvetica', sans-serif;
$width: 40; // em

// tailwind "stone" is default, neutral
:root {
    --accentDark: #1C1917; // 900
    --accentDarkIsh: #44403C; // 700
    --accent: #60A5FA; // blue 500
    --accentLightIsh: #F5F5F4; // 100 
    --accentLight: #FAFAF9; // warm grey 50
}

$accentDark: var(--accentDark, #1C1917);
$accentDarkIsh: var(--accentDarkIsh, #44403C);
$accent: var(--accent, #60A5FA);
$accentLightIsh: var(--accentLightIsh, #F5F5F4);
$accentLight: var(--accentLight, #FAFAF9);

@import '_core.scss';
@import '_header.scss';
@import '_footer.scss';