html {
    visibility: visible;
}

body {
    margin: 0;
    padding: 16px;
    overflow-x: hidden;

    background-color: $accentDark;
    color: $accentLight;

    @include in-light-mode {
        background-color: $accentLight;
        color: $accentDark;
    }

    font-size: 1.1em;
    font-family: $fn-copy;
    font-weight: 400;
}


main {
    max-width: $width;
    margin: 0 auto;
    line-height: 1.5em;
}

h1,
h2,
h3,
h4 {
    font-family: $fn-headings;
    margin-bottom: 0;
}


a {
    color: $accent;

    &[href] {
        // text-decoration: underline;
        text-decoration: none;
        font-weight: bold;

        i.fa-external-link-alt {
            font-size: 40%;
            vertical-align: super;
        }

        &:hover {
            // text-decoration: none;
            text-decoration: underline;
        }

        &:focus {
            background-color: $accentLight;
            color: $accentDark;

            @include in-light-mode {
                background-color: $accentDark;
                color: $accentLight;
            }
        }
    }
}

// buttons
a.butt {
    display: inline-block;
    padding: 1px 4px;
    margin: 0 2px;

    @include on-small-screen {
        margin: 2px 4px;
        padding: 2px 8px;
    }

    font-weight: normal;
    text-decoration: none;

    color: $accentLightIsh;

    @include in-light-mode {
        color: $accentDarkIsh;
    }

    border: 2px solid $accent;
    border-radius: 2px;

    transition: background-color 0.2s ease-out,
    color 0.2s ease-out;

    &:hover,
    &:focus {
        color: $accentDarkIsh;
        background-color: $accentLight;
        text-decoration: none;

        @include in-light-mode {
            color: $accentLightIsh;
            background-color: $accentDark;
        }
    }

    i {
        color: $accent;
    }
}

hr {
    background-color: $accent;
    // background: linear-gradient(90deg,
    // rgba(214, 2, 112, 1) 0%,
    // rgba(155, 79, 150, 1) 50%,
    // rgba(0, 56, 168, 1) 100%);
    border: none;
    border-radius: 1px;
    padding: 1px 0;
    max-width: calc($width / 5);
}


// helper classes

aside.callout {
    position: sticky;
    top: 8px; // avoid colour bar

    margin: 0;
    padding: 1em;
    width: calc(100% - 2em);

    background-color: $accentDark; // bg colour required for overlapping callouts
    color: $accentLightIsh;

    @include in-light-mode {
        color: $accentDarkIsh;
        background-color: $accentLight;
    }

    border: 2px solid $accent;
    border-radius: 2px;

    &:not(:last-child) {
        margin-bottom: 1em;
    }

    span.callout-icon {
        display: block;
        float: left;
        width: 1.25em;
        text-align: right;
        font-size: 2em;
        margin: 0 1em 1em 0;

        @include on-small-screen {
            float: none;
            display: block;
            width: 100%;
            margin: 0 0 1em 0;
            text-align: center;
        }
    }

    p.callout-text {
        margin: 0 8px;
        text-transform: none;
        line-height: 1.5em;
    }
}

.smol {
    font-size: 85%;
    vertical-align: middle;
}

.smol-quarter {
    font-size: 30%;
    vertical-align: middle;
}

.baseline {
    vertical-align: baseline;
}

.embiggen {
    font-size: 120%;
}

.accent-colour {
    color: $accent;
}

.emoji-icon {
    display: inline-block;
    width: 1.25em;
    text-align: center;
    filter: saturate(75%);
}

// used for inside of headings and stuff
.weight-400 {
    font-weight: 400;
}

.weight-700 {
    font-weight: 700;
}

// from tailwind
// https://tailwindcss.com/docs/screen-readers
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}