footer#site-footer {
    max-width: #{$width}em;
    margin: 2em auto;
    padding: 0.5em 0;
    border-radius: 8px;

    text-align: center;

    // background-color: $accentDarkIsh;
    color: $accent;

    @include in-light-mode {
        // background-color: $accentLightIsh;
        color: $accentDark;
    }

    text-transform: lowercase;
    @include on-small-screen {
        text-align: center;
    }

    a {
        font-weight: normal;
    
        @include on-small-screen {
            display: block;
            width: 100%;
        }
    }
}