footer#site-footer {
    max-width: $width;
    margin: 2em auto;

    @include on-small-screen {
        margin-top: 8em;
    }

    padding: 0.5em 0;
    border-radius: 8px;

    text-align: center;

    // background-color: $accentDarkIsh;
    color: $accent;

    opacity: 0.8;
    transition: opacity 0.2s ease-out;
    cursor: default;

    &:hover {
        opacity: 1;
    }

    @include in-light-mode {
        // background-color: $accentLightIsh;
        color: $accentDark;
    }

    text-transform: lowercase;

    @include on-small-screen {
        text-align: center;
        opacity: 1;
    }

    a {
        font-weight: normal;

        @include on-small-screen {
            display: block;
            width: 100%;
            padding: 16px;
            margin: 8px 0;
            font-size: 1.2em;
        }

        &.hidden{
            display: none;
        }

        @include on-big-screen {
            &:not(.hidden) + :not(.hidden) {
                &::before {
                    content: '— ';
                }
            }
        }
    }
}