aside#colour-bar {
    display: block;
    position: fixed;
    top: -4px;
    left: 0;
    width: 100%;
    height: 16px;
    background-color: $accent;
    z-index: 999;
}

aside#colour-bar.pride {
    // rainbow CSS from Bartek on StackOverflow
    // https://stackoverflow.com/a/63302468
    // ty <3
    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
  );
}

header#site-header {
    max-width: $width;
    margin: 2em auto;

    @include on-small-screen {
        margin-top: -0.5em;
    }

    border-bottom: 8px solid $accent;
    
    text-transform: lowercase;

    h1 {
        font-size: 3em;

        i.baskerville-italic {
            font-style: italic;
            font-family: 'Libre Baskerville', $fn-headings;
            margin-bottom: 0.2em;
        }
    }

    h1, h2 {
        position: relative; // required for z-index to work
        z-index: 10;
    }

    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}


header#page-header {
    margin-bottom: 2em;
    line-height: 2.8em;

    color: $accentLightIsh;
    @include in-light-mode {
        color: $accentDarkIsh;
    }

    // background-color: $accentDarkIsh;
    // @include in-light-mode {
    //     background-color: $accentLightIsh;
    // }

    padding: 1em;
    border-radius: 8px;

    text-transform: lowercase;
    text-align: center;

    h1, h2 {
        margin: 0;
    }

    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 1.5em;
    }

    h2#page-date {
        text-align: right;
    }
}