aside#colour-bar {
    display: block;
    position: fixed;
    top: -4px;
    left: 0;
    width: 100%;
    height: 16px;
    background-color: $accent;
}

header#site-header {
    max-width: #{$width}em;
    margin: 2em auto;

    @include on-small-screen {
        margin-top: -0.5em;
    }

    border-bottom: 8px solid $accent;
    
    text-transform: lowercase;

    h1 {
        font-size: 3em;
    }

    h1, h2 {
        position: relative; // required for z-index to work
        z-index: 10;
    }

    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    img {
        position: relative;
        width: 100%;
        
        margin-bottom: -8em;
        margin-top: 1em;
        @include on-small-screen {
            margin-top: 0;
        }

        border-radius: 8px 8px 0 0;
        mask-image: linear-gradient(to bottom, #000 0%, transparent 80%);
        -webkit-mask-image: linear-gradient(to bottom, #000 0%, transparent 80%);

        @include on-big-screen {
            transform: scale(1.1);
        }

        filter: saturate(1.2) contrast(1.2);
        z-index: 1;
        user-select: none;
    }

}

header#page-header {
    margin-bottom: 2em;

    color: $accentLightIsh;
    @include in-light-mode {
        color: $accentDarkIsh;
    }

    background-color: $accentDarkIsh;
    @include in-light-mode {
        background-color: $accentLightIsh;
    }

    padding: 1em;
    border-radius: 8px;

    text-transform: lowercase;

    h1, h2 {
        margin: 0;
    }

    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 1.5em;
    }
}