---
layout: default
title: "Things!!"
description: "Various projects I've made or been involved with"
permalink: /things/
---


<ul id="projects-list">    
    <!-- ongoing projects -->
    {% assign ongoingThings = site.things | where: 'ongoing', true | sort: 'since', 'first' | reverse %}
    {% for thing in ongoingThings %}
        {% if thing.hidden != true %}
            <li>
                <a href="{{ thing.url }}">{{ thing.what }}</a> {{ thing.to }},
            </li>
        {% endif %}
    {% endfor %}

    <!-- other projects -->
    {% assign thingsSortedByDate = site.things | where: 'ongoing', nil | sort: 'date', 'first' | reverse %}
    {% for thing in thingsSortedByDate %}
        {% if thing.hidden != true %}
            <li>
                <a href="{{ thing.url }}">{{ thing.what }}</a> {{ thing.to }}{% if forloop.last == false %},{% endif %}
            </li>
        {% endif %}
    {% endfor %}
</ul>

<p class="smol" style="text-align: right; font-style: italic;">sorted by newest to oldest!</p>