---
layout: compress
---
<!DOCTYPE html>
<html lang="en-GB">
{% include html-comment.html %}
<head>
    {% include head.html %}
</head>
<body>
    {% include header.html %}

    <main>
    <header id="page-header">
        <h1 id="page-title" class="weight-700">{{ page.title }}</h1>
        {% if page.description %}
            <h2 id="page-description" class="weight-400">{{ page.description }}</h2>
        {% endif %}
    </header>

    {{ content }}   
    </main>

    {% include footer.html %}
</body>
</html>